.board-element {
    position: absolute;
    z-index: inherit;
    top: 0;
    left: 0;
}
#background {
    z-index: -50;
}
#grid {
    z-index: 0;
}
#characters {
    z-index: 50;
}
#cursors {
    z-index: 100;
}
.character {
    transition-property: left, top;
    transition-duration: 1s;
    position: absolute;
    z-index: inherit;
}
.character p {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    margin: 0;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.field polygon {
    fill: none;
}
.field path {
    fill: black;
}
.cursor p {
    position: absolute;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.cursor span {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
body {
    background-color: white;
}
#moderator {
    background: #16232d;
}
.moderator-child {
    padding: 1vw;
}
#moderator input {
    width: 8vw;
}
#board-view {
    width: 100%;
    overflow: hidden;
    flex: 1 1 auto;
    position: relative;
}
