body {
    background: #15202b;
    color: #ffffff;
    margin: 0;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;

    /* The flex is required for the content to fit itself to the remaining space */
    display: flex;
    flex-direction: row;
}

button {
    color: white;
    background-color: #15202b;
    padding: 0.5em 1em 0.5em 1em;
    border: 1px solid #422d78;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #233549;
}

button:active {
    transform: translateY(2px);
}

input {
    background-color: #15202b;
    padding: 0.5em 1em 0.5em 1em;
    color: white;
    border-radius: 5px;
    border: 1px solid #422d78;
}

input:active {
    border: 1px solid #5e42a6;
}

input[type=number] {

}

.content {
    flex-grow: 1;

    margin-left: 0;
    transition: margin-left 0.5s;
}

.sidebar {
  background: #192734;
  color: #ffffff;
  position: fixed;
  width: 18%;
  height: 100vh;
  font-size: 0.65em;
  z-index: 100;

  left: -18%;
  transition: left 0.5s;
}

.toggle {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 150;
}
.toggle:checked ~ .sidebar {
    left: 0;
}
.toggle:checked ~ .content {
    margin-left: 18%;
}

.nav {
  position: relative;
  margin: 0 10% 0 5%;
  text-align: right;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  position: relative;
  margin: 2.2em 0;
}

.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.nav ul li.active a {
  color: white;
}

.nav ul li:not(.active)::after {
  opacity: 0.2;
}

.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}

.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#5e42a6), to(#8899ac));
  background-image: linear-gradient(to right, #5e42a6, #8899ac);
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-horizontal-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-vertical-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.loginContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
    background-color: #192734;
    padding: 2vw;
    box-shadow: 2px 2px 2px 2px #131313;
}

.loginBox p {
    display: flex;
    flex-direction: column;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}