:root {
    --text-color: #ffffff;
    --background-color: #15202b;
    --highlighted-background-color: #233549;
    --border-color: #422d78;
    --highlighted-border-color: #5e42a6;
    --modal-color: #192734;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;

    /* The flex is required for the content to fit itself to the remaining space */
    display: flex;
    flex-direction: row;
}

.margin {
    margin: 1rem;
}

button {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.5em 1em 0.5em 1em;
    border: 1px solid var(--border-color);
    cursor: pointer;
    border-radius: 5px;
}

/* if a button is used as a checkbox, the active class should be set when the button is "checked" */
button.active {
    background-color: var(--highlighted-background-color);
}

button:hover {
    background-color: var(--highlighted-background-color);
}

button:active {
    transform: translateY(2px);
}

input {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

input:active {
    border: 1px solid var(--highlighted-border-color);
}

input[type=color] {
    padding: 0;
}

select {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.content {
    flex-grow: 1;

    margin-left: 0;
    transition: margin-left 0.5s;
}

/*.sidebar {
  /*background: #192734;
    background-color: #192838;
    color: var(--text-color);
    position: fixed;
    width: 18%;
    height: 100vh;
    font-size: 0.65em;
    z-index: 100;

    left: -18%;
    transition: left 0.5s;
}

.toggle {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 150;
}
.toggle:checked ~ .sidebar {
    left: 0;
}
.toggle:checked ~ .content {
    margin-left: 18%;
}

.nav {
  position: relative;
  margin: 0 10% 0 5%;
  text-align: right;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  position: relative;
  margin: 2.2em 0;
}

.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.nav ul li.active a {
  color: var(--text-color);
}

.nav ul li:not(.active)::after {
  opacity: 0.2;
}

.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}

.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#5e42a6), to(#8899ac));
  background-image: linear-gradient(to right, #5e42a6, #8899ac);
}*/

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-horizontal-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-vertical-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.loginContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loginBox {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    background-color: var(--modal-color);
    padding: 3rem;
    box-shadow: 2px 2px 2px 2px #131313;
}

.loginBox label {
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}

.loginBox input {
    margin-bottom: 0.5rem;
}

.loginBox button {
    margin-top: 0.5rem;
}

.loginRow {
    display: flex;
    margin-bottom: 0.5rem;
}

#password {
    margin: 0;
}

.loginShowPassword {
    border: none;
    background-color: transparent;
    padding: 0.25rem;
    margin: 0 0 0 0.5rem !important;
}

.loginShowPassword img {
    filter: invert(100%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*.dashboardContent {
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dashboardBox {
    padding: 4rem 7rem 4rem 7rem;
    border: 1px solid black;
    background-color: #192838;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 300ms;
}

.dashboardBox:hover {
    background-color: #205067;
}*/

.campaignRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.campaignItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem 3rem 1rem 3rem;
    background-color: var(--highlighted-background-color);
    transition: background-color 300ms;
    height: 40%;
}

a.campaignItem, .campaignLink {
    text-decoration: none;
    color: var(--text-color);
}

a.campaignItem:hover, .campaignItem-hover {
    background-color: #205067;
    cursor: pointer;
}

.campaignItem img {
    width: 2rem;
    filter: invert(100%);
}

/* Modal stuff */

#modals .background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

#modals .modal {
    background-color: var(--modal-color);
}

#modals .close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#modals .close button {
    color: white;
    border: 1px solid var(--border-color);
    cursor: pointer;
    border-radius: 0;
    background-color: #5e42a6;
    transition: background-color 100ms linear;
    display: flex;
    padding: 0.5em 1rem;
}

#modals .close button:hover {
    background-color: var(--highlighted-background-color);
}

#modals .close button:active {
    transform: translateY(2px);
}

#modals .close img {
    width: 1rem;
    filter: invert(100%);
}
