.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #181818;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        background-color: #5b80b2;
    }

    50% {
        background-color: #422d78;
    }

    100% {
        transform: rotate(360deg);
        background-color: #5b80b2;
    }
}

.preloaderBox {
    animation: spin 750ms ease-in-out infinite;
    background-color: #5b80b2;
    width: 5em;
    height: 5em;
}

#stop-scrolling {

}