[Unit]
Description=pnp-zone server
After=network.target

[Service]
Type=simple
User=pnp-zone
Group=pnp-zone

LogsDirectory=pnp-zone
StateDirectory=pnp-zone
WorkingDirectory=/var/lib/pnp-zone
ConfigurationDirectory=pnp-zone

ExecStart=/usr/local/bin/pnp-zone
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s INT $MAINPID

Restart=always
RestartSec=3
# Send SIGTERM to each process
KillMode=control-group
TimeoutStopSec=3


[Install]
WantedBy=multi-user.target
