[Unit]
Description=PnP Zone
Requires=pnp-zone.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=pnp-zone
Group=pnp-zone
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/var/lib/pnp-zone/pnp_zone/
ExecStart=/var/lib/pnp-zone/venv/local/bin/gunicorn -c /etc/pnp-zone/gunicorn.conf.py pnp_zone.asgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
