:root {
    --level-0: #222432;
    --level-1: #2b2d3f;
    --level-2: #3c4059;
    --level-3: #444864;
    --level-4: #505473;
    --text: #eeeeee;
    --text-dark: #bbbbbb;
}

body {
    background-color: var(--level-0);
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue", sans-serif;
}

.invert {
    filter: invert(100%);
}

.input {
    padding: 0.25rem 0.5rem;
    background-color: var(--level-0);
    color: var(--text);
    border-radius: 0.5rem;
    border: 1px solid var(--level-4);
    transition: all ease-in-out 150ms;
}

.input:hover {
    background-color: var(--level-1);
    border: 1px solid var(--text-dark);
}

.button {
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    background-color: var(--level-0);
    color: var(--text);
    border-radius: 0.5rem;
    border: 1px solid var(--level-4);
    transition: all ease-in-out 150ms;
}

.button:hover {
    background-color: var(--level-2);
}

.button:active {
    transform: translateX(-1px) translateY(1px);
}

.text {
    color: var(--text);
}

/*
Login declaration
 */
.loginContent {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.loginBox {
    display: flex;
    background-color: var(--level-1);
    width: fit-content;
    padding: 3rem;
    border-radius: 1rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginBox img {
    width: 20rem;
    margin-right: 4rem;
}

.loginForm label {
    margin-bottom: 0.25rem;
}

.loginForm input {
    margin-bottom: 0.5rem;
}

.loginForm hr {
    margin: 0.75rem;
    color: var(--level-4);
    width: 80%;
    align-self: center;
}

.loginForm button {
    margin-top: 1.5rem;
}