<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/preloader.css" %}">
    <script type="text/javascript" src="{% static 'js/pnp_zone_preloader.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
</head>
<body>
<!--
    <input type="checkbox" class="toggle" checked="">
    <aside class="sidebar">
        <nav class="nav">
            <ul>
            {% for menu_item in menu %}
                <li {% if menu_item.active %}class="active"{% endif %}><a href="{{ menu_item.link }}">{{ menu_item.text }}</a></li>
            {% endfor %}
            </ul>
        </nav>
    </aside>
-->
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
    <div id="modals">
        <div class="background" style="display: none" onclick="hideModal();">
            <div class="modal" onclick="event.stopPropagation();">
                <div class="close">
                    <button onclick="hideModal();">
                        <img src="{% static 'img/close.svg' %}" alt="Hide">
                    </button>
                </div>
                {% block modals %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>