<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <aside class="sidebar">
        <nav class="nav">
            <ul>
            {% for menu_item in menu.items %}
            {% if menu_item.active %}
                <li class="active"><a href="{{ menu_item.link }}">{{ menu_item.text }}</a></li>
            {% else %}
                <li><a href="{{ menu_item.link }}">{{ menu_item.text }}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
        </nav>
  </aside>
{% block body %}
{% endblock %}
</body>
</html>