<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <aside class="sidebar">
        <nav class="nav">
            <ul>
            {% for menu_item in menu %}
                <li {% if menu_item.active %}class="active"{% endif %}><a href="{{ menu_item.link }}">{{ menu_item.text }}</a></li>
            {% endfor %}
            </ul>
        </nav>
    </aside>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>