<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <style>
        .character {
            position: absolute;
        }
    </style>
</head>
<body>

{% for character in characters %}
    {{ character }}
{% endfor %}

<script>
    const url = window.location;
    const endpoint = "ws://" + url.host + url.pathname;

    let socket = new WebSocket(endpoint);
    socket.onmessage = function (event) {
        const message = JSON.parse(event.data);
        switch (message.type) {
            case "move":
                const obj = document.getElementById(message.id);
                obj.style.left = message.x + "px";
                obj.style.top = message.y + "px";
                break;
            default:
                console.error("Unknown message type:", message.type);
                break;
        }
    };
    socket.onclose = function() {
        socket = new WebSocket(endpoint);
    };

    function center(obj, x, y) {
        return {x: x - (obj.offsetWidth/2), y: y - (obj.offsetHeight/2)};
    }

    let selected = null;
    document.onmousemove = function (event) {
        if (selected != null) {
            const { x, y } = center(selected, event.pageX, event.pageY);
            selected.style.left = x + "px";
            selected.style.top = y + "px";
        }
    };

    const characters = document.getElementsByClassName("character");
    for (let i = 0; i < characters.length; i++) {
        const character = characters[i];
        character.onclick = function(event) {
            if (selected === character) {
                const { x, y } = center(selected, event.pageX, event.pageY);
                socket.send(JSON.stringify({
                    type: "move",
                    id: selected.id,
                    x: x,
                    y: y,
                }));
                selected = null;
            } else {
                selected = character;
            }
        };
    }

</script>
</body>
</html>