{% extends "base.html" %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static "css/board.css" %}">
<style>
    body {
        background-color: {{ room.defaultBackground }};
    }
</style>

<div id="context-menu"></div>

<div class="flex-vertical" style="height: 100vh;">
    {% if jitsi_domain %}
        <div id="jitsi"></div>
    {% endif %}

    <div id="board-view"></div>

    {% if is_moderator %}
        <input type="checkbox" class="toggleModerator" checked="">
        <div id="moderator" class="flex-horizontal">

        </div>
    {% endif %}
</div>

<script>
        document.initialData = {
            x: {{ session.board_x }},
            y: {{ session.board_y }},
            scale: {{ session.board_scale }},
            characters: {
                {% for c in characters %}
                    "{{ c.identifier }}": {x: {{ c.x }}, y: {{ c.y }}, id: "{{ c.identifier }}", color: "{{ c.color }}", name: "{{ c.name }}"},
                {% endfor %}
            },
            tiles: {
                {% for tile in tiles %}
                    "{{ tile.x }} | {{ tile.y }}": {x: {{ tile.x }}, y: {{ tile.y }}, border: "{{ tile.border }}", background: "{{ tile.background }}"},
                {% endfor %}
            },
            backgrounds: {
                {% for img in backgrounds %}
                    "{{ img.identifier }}": {id: "{{ img.identifier }}", x: {{ img.x }}, y: {{ img.y }}, width: {{ img.width }}, height: {{ img.height }}, url: "{{ img.url }}"},
                {% endfor %}
            },
        };
</script>
<script src="{% static "react/init.js" %}" type="module"></script>

<script src="{% static "js/jscolor/jscolor.min.js" %}"></script>
<script>
    jscolor.presets.default = {
        position: 'right',
        previewSize: 60,          // make the color preview bigger
        backgroundColor: '#15202b',
        borderColor: '#422d78',
        format: 'hexa',
        palette: [
            '#000000', '#7d7d7d', '#870014', '#ec1c23', '#ff7e26',
            '#fef100', '#22b14b', '#00a1e7', '#3f47cc', '#a349a4',
            '#ffffff', '#c3c3c3', '#b87957', '#feaec9', '#ffc80d',
            '#eee3af', '#b5e61d', '#99d9ea', '#7092be', '#c8bfe7',
        ],
    };
</script>

{% if jitsi_domain %}
    <script src='https://{{ jitsi_domain }}/external_api.js'></script>
    <script>
        const domain = '{{ jitsi_domain }}';
        const options = {
            roomName: '{{ jitsi_room }}',
            width: "100%",
            height: "20vh",
            parentNode: document.getElementById("jitsi"),
        };
        const api = new JitsiMeetExternalAPI(domain, options);
    </script>
{% endif %}
{% endblock %}