{% extends "base.html" %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static "css/hex_tiles.css" %}">

<style>
    .character {
        position: absolute;
    }
    .character svg {
        width: 3vw;
        height: 3vw;
    }
    #grid {
        float: right;
    }
</style>

<div id="grid">
    <div class="flex-vertical">
        {% for y_is_even in y_range %}
            <div class="flex-horizontal">
                {% if y_is_even %}
                    <div class="hex-left"></div>
                {% endif %}

                {% for x_is_even in x_range %}
                    <div class="hex"></div>
                {% endfor %}

                {% if not y_is_even %}
                    <div class="hex-right"></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% for character in characters %}
    {{ character }}
{% endfor %}

<script src="{% static "js/socket.js" %}"></script>
<script src="{% static "js/board.js" %}"></script>
{% endblock %}