{% extends "base.html" %}

{% block body %}
    <div class="flex-vertical">
        <h1>Your Rooms:</h1>
        <table>
            <tbody>
                <tr>
                    <form method="post">
                        {% csrf_token %}
                        <th><label>Name: <input name="name"></label></th>
                        <th><button>Add new room</button></th>
                    </form>
                </tr>
                {% for room in your_rooms %}
                    <tr>
                        <form method="post">
                            {% csrf_token %}
                            <label><input hidden="" name="identifier" value="{{ room.identifier }}"></label>
                            <td><a href="{{ room.url }}">{{ room.name }}</a></td>
                            <td><button>Delete</button></td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1>Others' Rooms:</h1>
        {% for room in others_rooms %}
            <a href="{{ room.url }}">{{ room.name }}</a>
        {% endfor %}
    </div>
{% endblock %}