{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="margin">
        <div class="campaignRow">
            <a class="campaignItem" href="{{ lobby.url }}">Enter board</a>
            {% if bbb %}
                <a class="campaignItem" href="/campaign/show/{{ cid }}/joinBBB">Just BBB</a>
            {% endif %}
        </div>

        <h2>Your Character</h2>
        <form method="post">
            {% csrf_token %}
            <label>
                Name:
                <input name="character_name" value="{{ character_name }}">
            </label>
            <button>Save</button>
        </form>

        <h2>Players</h2>
        <div class="campaignRow">
            {% for player in added_players %}
                <div class="campaignItem">{{ player }}</div>
            {% endfor %}
        </div>

        {% if is_moderator %}
            <form method="post">
                {% csrf_token %}
                <label>
                    <select name="invite">
                        {% for player in not_added_players %}
                            <option>{{ player }}</option>
                        {% endfor %}
                    </select>
                </label>
                <button>Invite</button>
            </form>
        {% endif %}

        <h2>Gamemasters</h2>
        <div class="campaignRow">
            {% for gm in added_gamemasters %}
                <div class="campaignItem">{{ gm }}</div>
            {% endfor %}
        </div>

        {% if is_moderator %}
            <h2>Boards</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Last modified</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for board in boards %}
                    <tr>
                        <td>{{ board.name }}</td>
                        <td>{{ board.last_modified }}</td>
                        <td>
                            {% if board.id != lobby.id %}
                                <form method="POST" action="/campaign/show/{{ cid }}/boards">
                                    {% csrf_token %}
                                    <input type="hidden" name="identifier" value="{{ board.identifier }}">
                                    <input type="hidden" name="action" value="delete">
                                    <button type="submit"><img src="{% static 'img/close.svg' %}" alt="Delete board"></button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <form method="POST" action="/campaign/show/{{ cid }}/boards">
                            {% csrf_token %}
                            <td><input name="name"></td>
                            <td><input type="hidden" name="action" value="create"></td>
                            <td><button type="submit">New board</button></td>
                        </form>
                    </tr>
                </tfoot>
            </table>
            <button onclick="showModal(0);">Delete this campaign</button>
        {% endif %}
    </div>
{% endblock %}

{% block modals %}
    <form method="POST" action="/campaign/show/{{ cid }}/delete">
        {% csrf_token %}
        <h2>Your about to delete your campaign!</h2>
        <button type="submit">I know</button>
        <button type="button" onclick="hideModal();">I changed my mind</button>
    </form>
{% endblock %}
