{{define "head"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{.Static}}/img/favicon.png" rel="shortcut icon">
    <link href="{{.Static}}/css/pnp-zone.css" type="text/css" rel="stylesheet">
    <title>{{.PageTitle}}</title>
</head>
{{end}}