{% extends "base.html" %}
{% load static %}
{% block body %}
    <div class="dashboardContent">
        <h2>Your campaigns:</h2>
        <div class="campaignRow">
        <button onclick="showModal(0);">Create Campaign</button>
        {% for campaign in campaign_list %}
            <a class="campaignLink" href="/campaign/show/{{ campaign.id }}">
                <div class="campaignItem">{{ campaign.name }}</div>
            </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block modals %}
    <form class="margin" method="POST" action="/campaign/create">
        {% csrf_token %}
        <h2>Create campaign</h2>
        <label for="campaign_name">Name:</label>
        <input id="campaign_name" name="name" required>
        <button>Submit</button>
    </form>
{% endblock %}
